pkgbase = caddy-crowdsec-git
	pkgdesc = Caddy web server 200+ modules incl. CrowdSec, Coraza WAF, Auth Portal, and 10+ DNS Providers
	pkgver = 2.11.2.r20.g6bb8cf5
	pkgrel = 17
	url = https://github.com/Bigland-Bash-Dev/caddy-crowdsec-git
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = go
	depends = glibc
	depends = libcap
	provides = caddy
	conflicts = caddy
	backup = etc/caddy/Caddyfile
	source = caddy.service
	source = LICENSE
	source = README.md
	source = NOTICE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = caddy-crowdsec-git
