pkgbase = caddy-crowdsec-git
	pkgdesc = A custom build of the Caddy web server with integrated CrowdSec, AppSec modules
	pkgver = 2.11.2.r15.gacc80eb
	pkgrel = 6
	url = https://github.com/Bigland-Bash-Dev/caddy-crowdsec-git
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = go
	makedepends = xcaddy
	depends = glibc
	depends = libcap
	provides = caddy
	conflicts = caddy
	backup = etc/caddy/Caddyfile
	source = caddy.service
	source = LICENSE
	source = README.md
	source = NOTICE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = caddy-crowdsec-git
